@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&family=Roboto+Mono:ital,wght@0,400;0,600;1,400;1,600&display=swap');
$width: 800px;

$main-font: "Open Sans";
$fixed-font: "Roboto Mono";

$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

body {
    max-width: $width;
    margin: auto;
    background: $base3;
    color: $base01;
    font-family: $main-font;
    font-size: 140%;
}

a {
    color: $blue;
    &:active {
        color: $red;
    }
    &:visited {
        color: $violet;
    }
}

blockquote {
    background: $base2;
    margin: 0;
    padding: 1ex 2ex;
    box-shadow: inset 0 0 1ex rgba(0,0,0,.1);

}

pre, code, .lisp {
    font-family: $fixed-font;
}
